# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
#frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

#NESTJS-ANTI-FRAUDE

# compiled output
nestjs-anti-fraude/dist
nestjs-anti-fraude/node_modules
nestjs-anti-fraude/build

# Logs
nestjs-anti-fraude/logs
nestjs-anti-fraude/*.log
nestjs-anti-fraude/npm-debug.log*
nestjs-anti-fraude/pnpm-debug.log*
nestjs-anti-fraude/yarn-debug.log*
nestjs-anti-fraude/yarn-error.log*
nestjs-anti-fraude/lerna-debug.log*

# OS
nestjs-anti-fraude/.DS_Store

# Tests
nestjs-anti-fraude/coverage
nestjs-anti-fraude/.nyc_output

# IDEs and editors
nestjs-anti-fraude/.idea
nestjs-anti-fraude/.project
nestjs-anti-fraude/.classpath
nestjs-anti-fraude/.c9/
nestjs-anti-fraude/*.launch
nestjs-anti-fraude/.settings/
nestjs-anti-fraude/*.sublime-workspace

# IDE - VSCode
nestjs-anti-fraude/.vscode/*
nestjs-anti-fraude/!.vscode/settings.json
nestjs-anti-fraude/!.vscode/tasks.json
nestjs-anti-fraude/!.vscode/launch.json
nestjs-anti-fraude/!.vscode/extensions.json

# dotenv environment variable files
#nestjs-anti-fraude/.env 
#nestjs-anti-fraude/.env.development.local
#nestjs-anti-fraude/.env.test.local
#nestjs-anti-fraude/.env.production.local
#nestjs-anti-fraude/.env.local

# temp directory
nestjs-anti-fraude/.temp
nestjs-anti-fraude/.tmp

# Runtime data
nestjs-anti-fraude/pids
nestjs-anti-fraude/*.pid
nestjs-anti-fraude/*.seed
nestjs-anti-fraude/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
nestjs-anti-fraude/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
